@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;

    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}
 
 @layer utilities {
    ._clip-path {
      clip-path: polygon(46% 0, 94% 95%, 0 73%)
    }
 }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
}

.msg-avatar > div:last-child img  {
  display:block 
}

.unread-count::before {
  position:absolute;
  top: -0.20rem;
  right: -0.20rem;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: MediumOrchid;
  pointer-events:none;
}

.card {
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(100, 19, 121));
}


.my-gradient {
  background-image: radial-gradient(circle at 55% 0px, rgba(54, 180, 255, 0.93), rgba(156, 17, 255, 0) 67%), radial-gradient(circle at 50% 0px, rgb(29, 38, 126), rgba(30, 9, 145, 0) 69%), radial-gradient(circle at 81% 11%, rgb(54, 180, 255), rgba(83, 255, 221, 0) 25%), radial-gradient(circle at 18% -7%, rgb(227, 123, 255), rgba(255, 83, 154, 0) 33%), radial-gradient(circle at 50% 44%, rgb(104, 66, 205), rgba(141, 123, 239, 0) 85%, rgba(141, 123, 239, 0) 85%, rgba(141, 123, 239, 0) 85%);
}